/* Resetear algunos estilos predeterminados del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general para el fondo con un gif */
body {
    font-family: Arial, sans-serif;
    background: url('/static/car.gif') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 20px;
}

/* Título principal */
h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(128, 0, 128, 0.8);  /* Morado con opacidad */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

/* Estilo para las etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para el botón */
button {
    width: 100%;
    padding: 10px;
    background-color: #8363ac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #9b287e;
}

/* Estilo para los resultados */
h2 {
    text-align: center;
    margin-top: 40px;
    color: #fff;
}

p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    text-align: center;  /* Centramos los resultados */
}
